wsdl/CustomerCareService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://complaint.cem.huawei.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CustomerCareServiceImplService" targetNamespace="http://complaint.cem.huawei.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://complaint.cem.huawei.com/" elementFormDefault="unqualified" targetNamespace="http://complaint.cem.huawei.com/" version="1.0">

  <xs:element name="getUserComplaintHandlingSrvQualityFromSEQ" type="tns:getUserComplaintHandlingSrvQualityFromSEQ"/>

  <xs:element name="getUserComplaintHandlingSrvQualityFromSEQResponse" type="tns:getUserComplaintHandlingSrvQualityFromSEQResponse"/>

  <xs:complexType name="getUserComplaintHandlingSrvQualityFromSEQ">
    <xs:sequence>
      <xs:element name="msisdn" type="xs:string"/>
      <xs:element name="startTime" type="xs:string"/>
      <xs:element name="endTime" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getUserComplaintHandlingSrvQualityFromSEQResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserComplaintHandlingSrvQualityFromSEQ">
    <wsdl:part element="tns:getUserComplaintHandlingSrvQualityFromSEQ" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserComplaintHandlingSrvQualityFromSEQResponse">
    <wsdl:part element="tns:getUserComplaintHandlingSrvQualityFromSEQResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CustomerCareService">
    <wsdl:operation name="getUserComplaintHandlingSrvQualityFromSEQ">
      <wsdl:input message="tns:getUserComplaintHandlingSrvQualityFromSEQ" name="getUserComplaintHandlingSrvQualityFromSEQ">
    </wsdl:input>
      <wsdl:output message="tns:getUserComplaintHandlingSrvQualityFromSEQResponse" name="getUserComplaintHandlingSrvQualityFromSEQResponse">
    </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="CustomerCareServiceImplServiceSoapBinding" type="tns:CustomerCareService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserComplaintHandlingSrvQualityFromSEQ">
      <soap:operation soapAction="getUserComplaintHandlingSrvQualityFromSEQ" style="document"/>
      <wsdl:input name="getUserComplaintHandlingSrvQualityFromSEQ">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserComplaintHandlingSrvQualityFromSEQResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerCareServiceImplService">
    <wsdl:port binding="tns:CustomerCareServiceImplServiceSoapBinding" name="CustomerCareServiceImplPort">
      <soap:address location="http://complaint.cem.huawei.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>